In [1]:
#assignment2

In [2]:
#Part 1: 
#1. Create a list with the names of every planet in the solar system (in order) [note: Pluto is not a planet]
#2 Have Python tell you how many planets there are by examining your list
#3 Use slicing to display the first four planets (the rocky planets)
#4 Iterate through your planets and print the planet name only if it has an s at the end

In [13]:
planet_names=["mercury","Venus","Earth","Mars","Jupiter","Saturn","Uranus","Neptune"]

In [14]:
len(planet_names)

8

In [6]:
planet_names[0:4]

['mercury', 'Venus', 'Earth', 'Mars']

In [10]:
for planet in planet_names:
    if planet.endswith('s'):
        print(planet)

Venus
Mars
Uranus

In [11]:
#part 2:

#4)Now write a function that converts from farenheit and uses a keyword argument to specify whether 
    #you want the output in celcius or kelvin

In [13]:
def K_to_C(tempK):
    return (tempK - 273.15)

In [14]:
def C_to_K(tempC):
    return (tempC + 273.15)

In [20]:
C_to_K(15)

288.15

In [27]:
K_to_C(273.15)

0.0

In [20]:
def CorK_to_F(beginningtemp, beginningtempK=False):
    if beginningtempK:
        tempF = ((beginningtemp - 273.15) *9/5 + 32)
    else:
        tempF = ((beginningtemp * 9/5)+32)
    return tempF

In [21]:
CorK_to_F(0)

32.0

In [22]:
CorK_to_F(273.15, beginningtempK = True)

32.0

In [23]:
def F_to_CorK(temperatureF, desiredtempK=False):
    if desiredtempK:
        temperaturec_or_k = (((temperatureF -32)*5/9)+ 273.15)
    else:
        temperaturec_or_k = ((temperatureF - 32) * 5/9)
    return temperaturec_or_k

In [117]:
#trial run #NOT WORKING
F_to_CorK(32, desiredtempK = True)

273.15

In [118]:
#trial run
F_to_CorK(32)

0.0

In [101]:
def height_to_m(feet, inches):
    return (feet * 0.3048) + (inches * 0.0254)

In [102]:
height_to_m(2,1)

0.635

In [15]:
def m_to_height(m):
    # Convert height in meters to feet and inches
    #I had online help with the math component of this step
    inch = m / 0.0254
    ft = int(inch / 12)
    inches = inch % 12
    return f"{ft} ft {inches:.2f} in"

In [104]:
m_to_height(4)

'13 ft 1.48 in'

In [107]:
height_to_m(13,1.48)

3.999992

In [111]:
m_to_height(3.999992)

'13 ft 1.48 in'